#####################################################
#
# List of approvers for ktir_cpu repository
#
#####################################################
#
# Learn about CODEOWNERS file format:
# https://help.github.com/en/articles/about-code-owners
#
# Default owners (fallback for anything not matched below)
* @fabianlim @kiszk @lchu6
